<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="True">
<xi:include href="../../../templates/master.html"/>

<head>
  <title py:if="person" py:match="title">My Fedora People - ${person} - ${select('*|text()')}</title>
  <title py:if="not person"  py:match="title">My Fedora Packages - ${select('*|text()')}</title>
</head>
<div py:match="div[@class='content']" py:attrs="select('@*')">
  <div id="tabfloat">
    <ul id="primary-links">
      <span py:if="person" py:for="r in tool_urls"><li><a href="${r[0]}">${r[1]}</a></li> </span>
      <span py:if="not person" py:for="r in tool_urls"><li><a href="${tg.url(r)}">${r}</a></li> </span>

    </ul>
  </div>
    <h2 py:if="person">User ${person}</h2>
    <div py:replace="select('*|text()')" />
</div></html>
