*.pyc
tg2/*
dist/*
data/*
build/*
*.egg-info
myfedora/*
*.swp
*.swo
*.db
xapian/*
uitests/*
profile/*
*~
*.rpm
*.bz2
*.xz
*.orig
log
fedoracommunity/search/cache/usr
fedoracommunity/search/yum-cache
fedoracommunity/search/xapian
fedoracommunity/search/var
fedoracommunity/search/tmp
fedoracommunity/search/icons
fedoracommunity/public/images/icons
fedoracommunity/search/cache
xappy
logs
git.fedoraproject.org
paster.pid
icons
fedoracommunity/templates/home/
var
*.dbm*
versionmap
xapian-backup*
.vagrant
devel/ansible/playbook.retry
*.tar.gz
.cache
