recursive-include production *
recursive-include fedoracommunity *.mak
recursive-include fedoracommunity *.js
recursive-include fedoracommunity/public/css *.css *.ttf *.png *.gif *.svg *.eot *.woff

include fedoracommunity_makeyumcache
include fedoracommunity.spec
include orbited.cfg
include README.txt
include AUTHORS
include COPYING
