recursive-include production *
recursive-include fedoracommunity *.mak
recursive-include fedoracommunity *.js
recursive-include fedoracommunity/mokshaapps/demos/js/*.js

include fedoracommunity_makeyumcache
include fedoracommunity.spec
include orbited.cfg
include README.txt
include AUTHORS
include COPYING
