<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="True">
<xi:include href="../../../templates/master.html"/>

<head>
  <title py:match="title">My Fedora Search</title>
</head>
<div py:match="div[@class='content']" py:attrs="select('@*')">
<div class="centered">
  <form action="${tg.url('/search/results.html')}" method="get">
    Search Fedora<br/>
    <select name="filter">
      <option py:for="t in tool_urls" value="${t[2]}">${t[1]}</option>
    </select>
    <input type="text" class="largesearch" name="search_string" />
    <button type="submit">Search</button>
  </form>
</div>
    <div py:replace="select('*|text()')" />
</div>
</html>
