*
{
  margin: 0;
  padding: 0;
}

html, body
{
  height: 100%;
}

body
{
  color: #666666;
  font-size: 76%;
  background: #FFFFFF url(http://fedoraproject.org/static/images/border-left.png) 0 0 repeat-y;
}

a img
{
  border: none;
}

.wrapper
{
  margin-left: 18px;
  font: normal 2.3ex/1.5 sans-serif;
  min-height: 100%;
  background: #FFFFFF url(http://fedoraproject.org/static/images/border-right.png) 100% 0 repeat-y;
  padding-right: 18px;
  overflow: auto;
}

.head
{
  border-top: 10px solid #337ACC;
  padding: 1ex 2ex 17px;
  background: #FFFFFF url(http://fedoraproject.org/static/images/line.png) 0 100% repeat-x;
}

.head h1 a
{
  display: block;
  text-indent: -9999px;
  background: url(http://fedoraproject.org/static/images/fedora-logo.png) 20px 50% no-repeat;
  height: 73px;
  width: 138px;
  overflow: hidden;
}

#sidebar
{
  float: left;
  width: 230px;
  margin: 2ex 0;
  background: #FFFFFF;
  padding-bottom: 100px;
}

#banner img
{
  display: block;
  width: 200px;
  margin: 0 3ex;
}

#get
{
  text-align: center;
  margin: 1ex 0.5ex;
  font-weight: bold;
}

#get ul
{
  font-weight: normal;
  list-style: none;
  display: inline;
  font-size: 1.7ex;
}

#get li
{
  display: inline;
  border-left: 1px solid #CCCCCC;
  margin-left: -1px;
  padding: 0 1ex;
}

#get li.first
{
  border-left: none;
}

#get a
{
  color: #00356B;
}

#nav
{
  margin: 0 1.5ex;
  padding: 0 1.5ex;
}

#nav h2
{
  border-bottom: 1px dotted #AAAAAA;
  color: #444444;
  font-size: 1.725ex;
  margin: 2ex 0 1ex;
  text-transform: uppercase;
  font-weight: normal;
}

#nav ul
{
  list-style: url(http://fedoraproject.org/static/images/arrow.png);
  margin-left: 15px;
}

#nav li
{
  margin: 0.25ex 1ex;
  color: #777777;
  font-size: 1.4ex;
}

#nav a
{
  font-weight: bold;
  margin-right: 0.75ex;
  color: #729FCF;
  font-size: 2.4ex;
  display: block;
}

.home #nav-home a, .get #nav-get a, .join #nav-join a
{
  color: #777777;
  text-decoration: none;
}

.content
{
  margin-left: 0px;
  margin-right: 10px;
  color: #666666;
  background: #FFFFFF;
  display: inline-block;
}

/* Blame IE6 and the guillotine bug for this one */
.content { display: block; }

.content h2
{
  font-size: 3.25ex;
}

.content h2 div {
  font-size: 1ex;
  font-weight: normal;
}

.content h3
{
  color: #337acc;
  margin: 1.5ex 0 0.5ex;
  font-size: 2.5ex;
}

.content table
{
  border-collapse: collapse;
}

.content table th
{
  background: #DDDDDD;
}

.content table th, .content table td
{
  border: 1px solid #000000;
  padding: 0.6ex;
}

.content p
{
  margin: 1ex 5ex 1ex 0;
}

.content ul
{
  list-style: square;
  margin: 0 3ex 2ex;
}

.content img
{
  margin: 2ex 0;
}

.content a
{
  color: #337ACC;
}

.download
{
  list-style-image: url(http://fedoraproject.org/static/images/arrow.png);
  list-style-position: outside;
  margin: 1.6ex 3ex;
}

.download li
{
  color: #777777;
  font-size: 1.8ex;
  background: #EFEFEF;
  padding: 1ex;
  border-bottom: 1px dotted #AAAAAA;
}

.download a
{
  font-weight: bold;
}

.roles
{
  margin: 0!important;
  list-style: none!important;
  background: red;
  display: inline;
}

.roles li
{
  float: left;
  margin-bottom: 0.5ex;
}

.roles a
{
  line-height: 1;
  width: 130px;
  height: 150px;
  text-align: center;
  display: block;
  text-decoration: none;
}

.roles a:hover
{
  background-color: #EFEFEF;
}

.roles img
{
}

#footer
{
  position: relative;
  font: normal 1.5ex/1.5 sans-serif;
  text-align: center;
  background: #FFFFFF url(http://fedoraproject.org/static/images/line-bottom.png) 0 0 repeat-x;
  margin: -90px 0 0;
  border-bottom: 10px solid #337ACC;
  height: 80px;
  color: #AAAAAA;
}

#bottom
{
  margin-left: 18px;
  padding-right: 18px;
}

#footer ul
{
  list-style: none;
}

#footer li
{
  display: inline;
  border-left: 1px solid #AAAAAA;
  padding: 0 0.75ex;
  margin-left: -1px;
}

#footer li.first
{
  border-left: none;
}

#footer a
{
  color: #223344;
}

#footer a:hover
{
  color: #112233;
}

#footer p
{
  margin: 0 1.5ex;
}

#footer .copy
{
  padding-top: 3ex;
}

#footer .disclaimer
{
}

#screenshot-banner a {
  font-size: 1.6ex;
  text-align: left;
}

#screenshot-banner ul
{
  list-style: none;
}

#screenshot-banner li
{
  display: inline;
  margin-right: 2ex;
}

#screenshot-banner img
{
  vertical-align: bottom;
  border: 0;
}

input, textarea, select
{
  border: #AAA 1px solid;
}

input, textarea, option
{
  padding: 2px 5px 2px 5px;
}

#content #sponsors
{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

#content #sponsors li
{
  text-align: center;
  float: left;
  width: 150px;
  margin: 0 1ex;
}

#content #sponsors li img
{
  display: block;
}

#content ul.downloadbox
{
  overflow: hidden;
  list-style: none;
  margin: 0 2ex;
  padding: 6ex 2ex 4ex 180px;
  border-radius: 1.5ex;
  -webkit-border-radius: 1.5ex;
  -moz-border-radius: 1.5ex;
  background: #C0DBDD 30px 50% no-repeat;
  font-size: 1.7ex;
  display: inline-block;
}

#content ul.installdvd { background-image: url(http://fedoraproject.org/static/images/installdvd.png); }
#content ul.gnomelive { background-image: url(http://fedoraproject.org/static/images/gnomelive.png); }
#content ul.kdelive { background-image: url(http://fedoraproject.org/static/images/kdelive.png); }

.downloadbox li
{
  width: 32ex;
  float: left;
  padding: 0 0 2ex;
}

.downloadbox li li
{
  width: auto;
  float: none;
  padding: 0;
}


#content pre.command
{
  font-size: 2.25ex;
  border: solid #DDDDDD;
  border-width: 1px 1px 1px 5px;
  background: #F2F5F6;
  padding: 0.5ex 2ex;
}


#content p.note
{
  padding: 1ex 2ex;
  font-size: 1.75ex;
  border: 1px solid #DDDDDD;
  background: #F2F5F6;
}

#content ul#resources
{
  list-style: none;
}

#content ul#resources a
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/arrow.png) 0 50% no-repeat;
}

#content ul#resources li
{
  padding-left: 70px;
  margin-bottom: 3.5ex;
}

ul#resources li.resource-docs
{
  background: url(http://fedoraproject.org/static/images/icon-docs.png) 0 50% no-repeat;
}

ul#resources li.resource-communicate
{
  background: url(http://fedoraproject.org/static/images/icon-communicate.png) 0 50% no-repeat;
}

ul#resources li.resource-download
{
  background: url(http://fedoraproject.org/static/images/icon-download.png) 0 50% no-repeat;
}


#tabfloat {
  right:25px;
  position:absolute;
  top:77px;
  width:100%;
  z-index:2;
}

ul#primary-links {
  list-style-type:none;
  margin:0px;
  padding:0px 0px 0px 255px;
}

ul#primary-links li {
  background:transparent url(http://fedoraproject.org/static/images/header-tab1.png) no-repeat scroll 0%;
  float:right;
  list-style-type:none;
  margin:0px 0px;
  padding:0px;
}

ul#primary-links li a {
  background:transparent url(http://fedoraproject.org/static/images/header-tab2.png) no-repeat scroll 100% 0px;
  color: #666666;
  display:block;
  font-weight:bold;
  font-size:larger;
  height:33px;
  list-style-type:none;
  margin:0px;
  padding:4px 20px 0px;
  text-decoration:none;
  white-space:nowrap;
}

ul#primary-links li:hover {
background-image:url(/static/images/header-tab1.png);
background-position:0% -24px;
}
ul#primary-links li:hover a {
background-image:url(/static/images/header-tab2.png);
background-position:100% -24px;
}

/*********** My Fedora Widget stuff *************/

.col {
  margin: 5px
  padding: 0 0 2ex;
}

.downloadbox li li
{
  width: auto;
  float: none;
  padding: 0;
}


.content pre.command
{
  font-size: 2.25ex;
  border: solid #DDDDDD;
  border-width: 1px 1px 1px 5px;
  background: #F2F5F6;
  padding: 0.5ex 2ex;
}


.content p.note
{
  padding: 1ex 2ex;
  font-size: 1.75ex;
  border: 1px solid #DDDDDD;
  background: #F2F5F6;
}

.content ul#resources
{
  list-style: none;
}

.content ul#resources a
{
  padding-left: 20px;
  background: url(http://fedoraproject.org/static/images/arrow.png) 0 50% no-repeat;
}

.content ul#resources li
{
  padding-left: 70px;
  margin-bottom: 3.5ex;
}

ul#resources li.resource-docs
{
  background: url(http://fedoraproject.org/static/images/icon-docs.png) 0 50% no-repeat;
}

ul#resources li.resource-communicate
{
  background: url(http://fedoraproject.org/static/images/icon-communicate.png) 0 50% no-repeat;
}

ul#resources li.resource-download
{
  background: url(http://fedoraproject.org/static/images/icon-download.png) 0 50% no-repeat;
}


#tabfloat {
  right:25px;
  position:absolute;
  top:77px;
  width:100%;
  z-index:2;
}

ul#primary-links {
  list-style-type:none;
  margin:0px;
  padding:0px 0px 0px 255px;
}

ul#primary-links li {
  background:transparent url(/static/images/header-tab1.png) no-repeat scroll 0%;
  float:right;
  list-style-type:none;
  margin:0px 0px;
  padding:0px;
}

ul#primary-links li a {
  background:transparent url(/static/images/header-tab2.png) no-repeat scroll 100% 0px;
  color: #666666;
  display:block;
  font-weight:bold;
  font-size:larger;
  height:33px;
  list-style-type:none;
  margin:0px;
  padding:4px 20px 0px;
  text-decoration:none;
  white-space:nowrap;
}

ul#primary-links li:hover {
background-image:url(/static/images/header-tab1.png);
background-position:0% -24px;
}
ul#primary-links li:hover a {
background-image:url(/static/images/header-tab2.png);
background-position:100% -24px;
}

.mainsearch 
  {
  top: 18px;
  right: 28px;
  z-index:2;
  width: 300;
  z-index:2;
  position:absolute;
}

/*********** My Fedora Widget stuff *************/

.col-group {
  overflow: hidden;
}

.col {
  float: left;
  margin: 5px;
  padding: 0 0 2ex; 
  padding-bottom: 32767px;
  margin-bottom: -32767px;  
  /*display: table-column; */
}

.col ul {
  font-weight: normal;
  list-style: none;
  font-size: 1.7ex;
}

.widget-list {
  list-style: none;
}

#col1 {
  width: 200px;
  height: 100%;
}

#col2 {
}

#col3 {
  float: right;
  width: 200px;
  
}

.widget-list {
  /*display: table-cell;*/
}

#col1 .widget {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: white;
}

#col3 .widget {
  border-width: 1px 1px 1px 1px;
  border-spacing: 2px;
  border-style: outset outset outset outset;
  border-color: gray gray gray gray;
  border-collapse: separate;
  background-color: white;
}

.widget h2 {
  border-width: 1px 1px 1px 1px;
  font-weight: bold;
  text-align: center; 
}

#col2 .widget h2 {
  text-align: left;
}

.usernav {
  margin-bottom: 10px;
  text-align: right;
}
