interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://bodhi.fedoraproject.org/releases/?page=1&row_per_page=20
  response:
    body: {string: !!python/unicode '{"rows_per_page": 20, "total": 11, "pages": 1,
        "releases": [{"composes": [], "dist_tag": "f22", "name": "F22", "testing_tag":
        "f22-updates-testing", "pending_stable_tag": "f22-updates-pending", "pending_signing_tag":
        "", "long_name": "Fedora 22", "state": "archived", "version": "22", "override_tag":
        "f22-override", "branch": "f22", "id_prefix": "FEDORA", "pending_testing_tag":
        "f22-updates-testing-pending", "stable_tag": "f22-updates", "candidate_tag":
        "f22-updates-candidate"}, {"composes": [], "dist_tag": "dist-6E-epel", "name":
        "EL-6", "testing_tag": "dist-6E-epel-testing", "pending_stable_tag": "", "pending_signing_tag":
        "", "long_name": "Fedora EPEL 6", "state": "current", "version": "6", "override_tag":
        "dist-6E-epel-override", "branch": "el6", "id_prefix": "FEDORA-EPEL", "pending_testing_tag":
        "", "stable_tag": "dist-6E-epel", "candidate_tag": "dist-6E-epel-testing-candidate"},
        {"composes"[...]
[...]
