<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"> 

<xi:include href="${myfedora.resource.get_master_template()}"/>
<body>
  ${package_data['summary']}
 
  <h3>Description:</h3>
   
  ${package_data['description']}

  <h3>Collections:</h3>
  <ul>
    <li py:for="c in package_data['collection_list']">
      <b>${c['fullname']}</b> - <a href="${tg.url('/people/' + c['package_owner_id'])}">${c['package_owner_name']}</a>

   </li>
  </ul>
</body>
</html>

