## -*- coding: utf-8 -*-

<div id="${id}" class="pager">
    <ul class="page-numbers">
        % if front_set:
            % for i in front_set: 
                <li class="page-button"><a onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">${i}</a></li>
                <li class="page-ellipses">...</li>
            % endfor
        % endif
        
        % if main_set:
            % for i in main_set: 
                % if page != i:
                    <li class="page-button"><a onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">${i}</a></li>
                % else:
                    <li class="current-page">${i}</li>
                % endif
            % endfor
        % endif
        
        % if back_set:
            <li class="page-ellipses">...</li>
            % for i in back_set:
                <li class="page-button">
                    <a onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">
                        ${i}
                    </a>
                </li>
            % endfor
        % endif
    </ul>

    <ul class="page-flips">
        % if next_page:
            <li class="next-page page-button"><a onClick="myfedora.ui.go_to('${parent_id}', {'page':${next_page}})" href="javascript:void(0)">Next ▸</a></li>
        % else:
            <li class="next-page no-link">Next ▸</li>
        % endif
        
        % if prev_page:
            <li class="prev-page page-button"><a onClick="myfedora.ui.go_to('${parent_id}', {'page':${prev_page}})" href="javascript:void(0)">◂ Previous</a></li>
        % else:
            <li class="prev-page no-link">◂ Previous</li>
        % endif
    </ul>
</div>
