<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="header">
  <div id="header">
    <div class="head">
      <div style="float:left">
        <h1><a href="/">Fedora Community</a></h1>
      </div>
      <div id="top_ticker">
        <span style="float:right" py:if="tmpl_context.identity.person">
          LOGGED IN: <strong><a href="${tg.url('/profile')}">${tmpl_context.identity['person']['human_name']}</a></strong>
          <form class="login_button" action="${tg.url('/logout')}"><input type="submit"  value="logout" /></form>
        </span>
        <span py:if="not tmpl_context.identity" style="float:right">
          You are not logged in yet <form class="login_button" action="${tg.url('/login')}"><input type="submit"  value="login" /></form>
        </span>
        <form py:if="not header_hide_search" class="mainsearch" action="${tg.url('/search/all')}" method="get" style="float:right">  
          <span style="float:right">
            <input type="submit" name="submit" value="search" />
          </span>
          <span style="float:right">
            <div>
              <input type="text" name="data_key" />
            </div>
            <div>
              <a href="${tg.url('/search')}" >Advanced...</a>
            </div>
          </span>       
        </form>              
      </div>
    </div>
  </div>
</py:def>    
</html>