<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<py:def function="header">
  <div id="head">
    <h1><a href="/">Fedora Community</a></h1>
    <div id="toolbar">
      <div id="login-toolbar" py:if="tmpl_context.identity.person">
        <form class="login_button" action="${tg.url('/logout')}">
          Logged In: <span class="username"><a href="${tg.url('/profile')}">${tmpl_context.identity['person']['human_name']}</a></span>
          <input type="submit"  class="button" value="Log Out" />
        </form>
      </div>
      <div id="login-toolbar" py:if="not tmpl_context.identity">
        <form action="${tg.url('/login')}">
          You are not logged in yet  <input type="submit"  value="Login" class="button"/>
        </form>
      </div>
      <div id="search-toolbar">
        <form action="${tg.url('/search/')}">
           Search: <input type="text" name="data_key" value="Type search terms here." />
           <input class="button" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </div>
</py:def>
</html>