<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

    <%inherit file="master.html" />

    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
        <title><%def name="title()">MyFedora</%def></title>
    </head>

    <body>
        <%def name="content()">
            <div id="right-content-column">
                % for app in rightcol_apps:
                    <div class="panel icon-panel">
                        ${tmpl_context.show_app(app)}
                    </div>
                % endfor 
            </div>
            <div id="left-content-column">
                <h1 id="greeter">
                    % if tmpl_context.identity and tmpl_context.identity['person']:
                        <% person = tmpl_context.identity['person'] %>
                        <span> 
                            <img src="${person.get('hackergotchi_url', '')}" style="float:left"/>
                            Welcome, ${person['human_name']}!
                        </span>
                    % endif
                </h1>
                % for app in leftcol_apps:
                    <div>
                        ${tmpl_context.show_app(app)}
                    </div>
                % endfor
            </div>
        </%def>
    </body>
</html>
