<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>MyFedora</title>
</head>

<body>
    <div class="col-group">
    <div class="col" id="col1">
        <ul class="widget_list">
          <li py:for="app in col1_apps">
            ${tmpl_context.show_app(app)}
          </li>
        </ul> 
      </div>
      <div class="col" id="col3">
        <ul class="widget_list">
          <li py:for="app in col3_apps">
            ${tmpl_context.show_app(app)}
          </li>
        </ul>
      </div>
    <div class="col" id="col2">
      <h1><span py:if="tmpl_context.identity.person"> 
         <img src="${tmpl_context.identity.person['hackergotchi_url']}" 
             style="float:left"/>
         ${tmpl_context.identity.person['human_name']}</span></h1>
      
      <ul class="widget_list">
        <li py:for="app in col2_apps">
          ${tmpl_context.show_app(app)}
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
