<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<%inherit file="master.html" />

<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
<title><%def name="title()">Login Form</%def></title>
</head>

<body>
  <%def name="content()">
      % for a in apps:
        <div>
             ${tmpl_context.show_app(a)}
        </div>
      % endfor
  </%def>
</body>
</html>
