<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
  <head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type"
      py:replace="''" />
    <title py:content="'Your Title Goes Here'"></title>

    <script type="text/javascript" src="${tg.url('/static/js/jquery.js')}" />
    <script type="text/javascript" src="${tg.url('/static/js/fedorawidgets.js')}" />
    <link py:for="js in tg_js_head" py:strip="">${XML(js)}</link>
    <link py:for="css in tg_css" py:strip="">${XML(css)}</link>

    <link href="${tg.url('/static/images/favicon.ico')}"
      type="image/vnd.microsoft.icon" rel="shortcut icon" /> 
    <link href="${tg.url('/static/images/favicon.ico')}"
      type="image/x-icon" rel="shortcut icon"/> 

    <style type="text/css" media="screen">
      @import url("/static/css/myfedora-style.css");
    </style>
  </head>
  <body py:match="body" py:attrs="select('@*')">
    <div py:for="js in tg_js_bodytop" py:replace="XML(js.display())" />
    <div class="wrapper">
      <div class="head">
        <h1><a href="http://fedoraproject.org/index.html">Fedora</a></h1>
        <div class="mainsearch">
          <form action="/search/results.html" method="get">
            <input type="text" name="search" />
          </form> 
        </div>
      </div>
      <div class="content">
        <div py:if="tg.config('identity.on',False) and not 'logging_in' in locals()" id="pageLogin" class="usernav">
          <span py:if="tg.identity.anonymous">
            You are not logged in yet <a class="loginButton" href="${tg.url('/login/')}">login</a>
          </span>
          <span py:if="not tg.identity.anonymous">
            <a href="${tg.url('/users/info/')}">profile</a> |
            <a class="loginButton" href="${tg.url('/logout/')}">logout</a>
          </span>
        </div>

        <div py:replace="select('*|text()')" />
      </div>
    
    <div id="bottom">
      <div id="footer">
        <p class="copy">
        Copyright &copy; 2007 Red Hat, Inc. and others.  All Rights Reserved.
        Please send any comments or corrections to the <a href="mailto:webmaster@fedoraproject.org">websites team</a>.
        </p>
        <p class="disclaimer">
        The Fedora Project is maintained and driven by the community and sponsored by Red Hat.  This is a community maintained site.  Red Hat is not responsible for content.
        </p>
        <ul>
          <li class="first"><a href="http://fedoraproject.org/wiki/Legal">Legal</a></li>
          <li><a href="http://fedoraproject.org/wiki/Legal/TrademarkGuidelines">Trademark Guidelines</a></li>
        </ul>
      </div>
    </div>
   </div>
  </body>
</html>
