<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<head>
  <link href="${'http://fedoraproject.org/favicon.ico'}"
      type="image/x-icon" rel="shortcut icon"/>
  <title>MyFedora Application ${app}</title>
  <!--[if lt IE 7]>
  <style type="text/css">
    #wrapper
    {
    height: 100%;
    overflow: visible!important;
    }
  </style>
  <![endif]-->
</head>

<body style="background:#FFFFFF">
  <div py:for="app in standalone_data">
     ${tmpl_context.show_app(app)}
  </div>
</body>
</html>
