<div xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:py="http://genshi.edgewall.org/"> 
  <div id="content-nav">
    <ul>
      <span py:for="child in visible_children">
        <li>
          <a py:if="active_child == child" href="${child._id}" class="active">${child.display_name}</a>
          <a py:if="active_child != child" href="${child._id}" class="inactive">${child.display_name}</a>
        </li>
      </span>
    </ul>
  </div>
  <h2 py:if="package">Package ${package}</h2>
  ${active_child(value_for(active_child), **args_for(active_child))}
</div>
