<div> 
    <%def name="show_tool_nav()">
        <div id="content-nav">
            <ul>
                % for child in visible_children:
                    <li>
                        % if active_child == child:
                            <a href="${childurls[child._id]}" class="active">${child.display_name}</a>
                        % else:
                            <a href="${childurls[child._id]}" class="inactive">${child.display_name}</a>
                        % endif
                    </li>
                % endfor
            </ul>
        </div>
    </%def>
  
    <%def name="show_active_tool()">
        ${active_child(value_for(active_child), **args_for(active_child))}
    </%def>
</div>
