<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <%inherit file="master.html" />
    <head>
        <title><%def name="title()">${view} view</%def></title>
    </head>
    <body>
        <%def name="content()">
            % for app in view_content:
                <div>
                    ${tmpl_context.show_app(app)}
                </div>
            % endfor
        </%def>
    </body>
</html>
