<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html"/>
<head>
</head>
<body>
    <div class="col-group">
    <div class="col" id="col1">
        <ul class="widget_list">
          <li>
            <div class="widget" id="widget1">
              <h2>Widget 1</h2>
            </div>
          </li>
          <li>
            <div class="widget" id="widget2">
              <h2>Widget 2</h2>
            </div>
          </li>
        </ul>
      </div>
      <div class="col" id="col3">
      <ul class="widget_list">
        <li>
          <div class="widget" id="widget3">
            <h2>Widget 3</h2>
          </div>
        </li>
        <li>
          <div class="widget" id="widget4">
            <h2>Widget 4</h2>
          </div>
        </li>

      </ul>
    </div>
    <div class="col" id="col2">
      <h1>Welcome J5!</h1>
      <ul class="widget_list">
        <li>
          <div class="widget" id="widget5">
            <h2>Widget 5</h2>
            This is a Test Widget.  It sucks but well it is just a place holder.  You Fedora people are lucky because well, you run Fedora.  Kick it!!!
          </div>
        </li>
        <li>
          <div class="widget" id="widget6">
            <h2>Widget 6</h2>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
