<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  xmlns:py="http://genshi.edgewall.org/"
  py:strip="">
<xi:include href="../master.html"/>

<head>
<title>Search</title>
</head>
<body>
<div class="centered">
  <form action="${tg.url('search/results.html')}" method="get">
    Search Fedora<br/>
    <select name="filter">
    <!-- TODO: figure out modules and get filter values from them --> 
      <option label="all" value="">All</option>
      <option label="pkg" value="pkg">Packages</option>
    </select>
    <input type="text" class="largesearch" name="search" />
    <button type="submit">Search</button>
  </form>
</div>
</body>
</html>
