/* positioning for header elements */

#head {
  height: 			65px;
}

#head h1 {
  width:			200px;
  float: 			left;
}

#head #toolbar {
  width: 			50%;
  float: 			right;
  margin-top: 			9px;
}

#login-toolbar {
  float: 			right;
}

#content {
  padding-top: 			20px;
  clear: 			right;
  padding-right:		28px;
}

/* styling for login toolbar */

#toolbar {
  vertical-align:		middle;
  min-width:			510px;
}

#toolbar .username {
  color: 			#2b81d6;
  font-weight: 			700;
  text-transform:		none;
  padding:			5px;
  font-size:			1.1em !important;
}

#toolbar input {
  background-color:		white;
  color:			#ccc;
  font-size:			.9em;
  padding:			5px;
  border:			1px solid #aaa;
}

#toolbar input.button {
  margin-left: 			5px;
  text-transform:		uppercase;
  font-size:			.9em;
  vertical-align:		middle;
  color:			white;
  background-color:		#888;
  padding:			2px;
}

#toolbar {
  vertical-align: 		middle;
  color: 			#888;
  text-transform:		uppercase;
  font-size:			.9em;
}

/** content area styling **/
#content {
  border-top: 4px solid #2b80d6;
  border-left: 1px solid #eee;
}

/** ui styles **/
.hover_menu {
  position:absolute;
  background-color: #FFFFFF;
  border: 1px solid;
  width: auto !important;
  padding: 10px;
  z-index: 2;
}

/* left navbar tabs styling */

#app-sidebar .nav {
  margin: 0px;
  padding: 0px;
}

#app-sidebar .nav ul {
  margin-left: 15px;
  margin-right: none;
  margin-top: 12px;
  width: 157px; 
}

#app-sidebar .nav li {
  margin: 0px !important;
  list-style: none;
  padding: 5px 2px 5px 6px;
  border-bottom: 1px solid #eee;
  display: block;
}

#app-sidebar .nav a {
  display: block;
  font-weight: bold;
  color: #729FCF;
  margin-right: 0px;
}

#app-sidebar .nav a:link,
#app-sidebar .nav a:visited,
#app-sidebar .nav a:active {
  text-decoration: none;
  font-size: 11pt;
}

#app-sidebar .nav a.active:link,
#app-sidebar .nav a.active:visited,
#app-sidebar .nav a.active:active {
  color: white;
  background-color: #6aa6e2;
  padding: 8px 2px;
  padding-left: 12px;
  -moz-border-radius: 12px 0px 0px 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
}

#app-sidebar .nav a.inactive:link,
#app-sidebar .nav a.inactive:visited,
#app-sidebar .nav a.inactive:active {
  padding-left: 8px
}

#content {
  padding-left: 22px !important;
  margin-left: 170px;
}

#app-sidebar {
  float: left;
  width: 170px; 
  padding: 0px;
  border-right: 1px solid #eee;
  min-height: 650px;
  height: 100%;
}
#app-sidebar {
  background: repeat-y right url(../images/vertical-gradient.png);
}

/** content div horiztonal tabs **/

#content-nav ul {
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px;
  padding-bottom: 24px;
  background: #FFFFFF url(http://fedoraproject.org/static/images/line.png) repeat-x scroll 0pt 100%;
/* 22px because #content padding is 22px */
  margin-left: -22px; 
  padding-left: 22px;
  margin-bottom: 12px;
}

#content-nav li {
  float: left;
  margin-right: 24px;
  list-style: none;
}

#content-nav li a:link,
#content-nav li a:active,
#content-nav li a:visited {
  text-decoration: none;
  font-weight: bold;
  font-size: 11pt;
}

#content-nav li a.active:link,
#content-nav li a.active:active,
#content-nav li a.active:visited {
  color: white;
  padding: 4px 12px;
  padding-top: 6px;
  background-color: #5499dd;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
}

/** content searchbox **/


.content-searchbox {
  float: left;
  width: 98%;
  background-color: #eee;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 8px;
  padding-top: 11px;
  margin: auto;
}

.content-searchbox .button {
  background-color:#888888;
  color:white;
  padding:2px;
  text-transform:uppercase;
  vertical-align:middle;
}

.content-searchbox form {
  margin: auto !important;
}

.content-searchbox form * {
  float: left;
}

.content-searchbox input.searchinput {
  width: 230px;
}

.content-searchinput {
  width: 240px;
  padding-right: 10px;
}

.content-searchinput .small-text {
  float: right;
  clear: left;
}

.small-text {
  font-size: 8pt;
}

.content-searchbox form {
  margin: auto;
  width: 450px;
}

.content-searchbox input {
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 1.5 em;
  font-size: 10pt;
  color: #333;
}

.content-searchbox .button {
  color: white;
  padding-bottom: 1px;
  padding-top: 1px;
}

.content-searchbox span.label {
  font-size: 11pt;
  margin-right: 4px;
}

#left-content-column,
#right-content-column {
  padding: 0px;
}

#left-content-column {
  width: 68%;
}

#right-content-column {
  width: 30%;
  float: right;
}

#bottom,
#wrapper {
  clear: both !important;
}

h3 {
  line-height: 100%;
  margin-top: 10px;
  color: #666 !important;
}

/** simple list **/

.list {
  padding-top: 10px;
}

.list table {
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #b3b3b3 !important;
  border-top: 1px solid #b3b3b3 !important;
  padding: 0px !important;
}

.list table th,
.list table td,
.list table tr {
  border: none !important;
  vertical-align: top;
}

.list table img {
  margin: 0px !important;
}

span.more-items {
  float: right;
}

.list a {
  text-decoration: none;
}

/** more advanced list with columns **/
.header-list table {
  border-spacing: 0px; 
  border-collapse: separate !important;
  border-bottom: none !important;
}

.header-list table th {
  border-top: 1px solid white !important;
  background-color: #f0f0f0 !important;
  vertical-align: top;
  text-align: left;
  padding: 2px 5px 3px 5px!important;
}

.header-list table td {
  border: none !important;
  padding: 1px 5px !important;
}

.header-list table td {
  
}

.header-list table tbody {
  background: repeat-x left bottom url('../images/c8c8c8_dot.png') !important;
}

.message_row {
}

span.package-name a,
span.person-name a {
  font-weight: bold;
}

span.timestamp {
  font-size: 7pt;
  color: #bbb;
}

/** simple list for side panel **/


.panel .list ul {
  margin-left: 0px !important;
  width: 100%; 
}

.panel .list li {
  list-style: inside url('../images/16_announcement.png');
  margin-left: 2px;
  border-bottom: dotted 1px #ddd;
  padding-top: 3px;
}
  

/** float clearing **/

.clear {
  clear:		both;
  /** the rest is for older browsers **/
  height:		1px;
  line-height:		1px;
  font-size:		1px;
  margin-top:		-1px;
}

/** right sidebar column styles **/

div.panel {
  margin-top: 12px;
  border: none !important;
}

div.panel td {
  padding: 4px 0px 4px 10px !important;
}

div.icon-panel td {
  padding: 0px 0px 2px 10px !important;
}

.panel a {
  text-decoration: none;
}

.panel h3,
.panel h4 {
  margin: 0px !important;
}

.panel h3 {
  background-color: #d2d2d2;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  color: white !important;
  font-size: 1em !important;
  padding: 8px 6px 6px 6px;
  text-transform: uppercase;
}

.panel h4 {
  background-color: #e6e6e6;
  font-size: small !important;
  padding: 3px 6px;
}

.panel table {
  width: 100%;
  border: none !important;
  background-color: #f9f9f9;
  border-collapse: collapse;
}

.panel td {
  border: none !important;
}

/** login box styles **/

div.login {
 background-color: #5f94c9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden !important;
  padding: 8px 12px;
}

div.login h3 {
  background: none !important;
  padding: 2px 2px 5px 0px;
}

div.login form span {
 color: white;
 font-size: .8em;
 display: block;
 float: left;
 margin-right: 10px;
 width: 60px;
}

div.login form input {
  margin-bottom: 5px;
  max-width: 80%;
}

div.login form .button {
  background-color: #777;
  color: white;
  border: 1px solid #555;
}

div.login a.small-text:link,
div.login a.small-text:active,
div.login a.small-text:visited {
  color: #9ecfff !important;

}

.small-text {
  font-size: 8pt;
}

.label-rule {
  border-bottom: 1px solid;
  border-color: #B3B3B3;
}

/* greeter h1, so you can have an image or icon in the left of it */
h1#greeter img {
  float: left;
  height: 50px;
  margin: 0px !important;
  margin-right: 8px !important;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('/images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

/*** Lightbox ***/

.lightbox-parent {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.lightbox-black{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.lightbox-white {
  position: absolute;
  padding: 20px; 
  background-color: white; 
  opacity: 1; 
  height: 80%; 
  width: 80%; 
  margin-left: 6%;
  display: none;
  z-index:1002;
  overflow: auto;
}

/** LIST PAGER **/

.list .pager ul {
  background-color: #ddd;
  height: 22px;
  padding: 0px;
  margin: 0px !important;
}

.list .pager li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  border: none;

  margin-left: 0px;
  margin-right: 0px;
  border-right: 1px solid #aaa; 
  background-color: #ccc;
}

.list .pager li.current-page,
.list .pager li.no-link {
  padding-left: 8px;
  padding-right: 2px;
}
.list .pager li.page-ellipses {
  padding-left: 4px;
  padding-right: 0px;
  width: 1.5em;
}

.list .pager li.page-button {
  background-color: #ddd;
}

.list .pager li.page-button a {
  padding-left: 10px;
  padding-right: 2px;
} 

.list .pager li.page-button:hover {
  background-color: #6AA6E2;
  color: white;
}

.list .pager li.page-button:hover a {
  color: white !important;
}

.list .pager li.current-page {
  font-weight: bold !important;
  background-color: #eee;
}
