
.content_table {
  border-collapse: collapse;
  width:90%;
  margin: 0pt auto;
  background-color:#E3E3E3;
  font-family:verdana,sans-serif;
  empty-cells: hide;
  table-layout: auto;
  border-spacing:0px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
 
  
}

tr.row-odd td:first-child, tr.row-even td:first-child {
  border-left:1px solid #EEEEEE;
}

tr.row-odd td:last-child, tr.row-even td:last-child {
  border-right:1px solid #EEEEEE;
}
.content_table tr th:first-child {
  -moz-border-radius-topleft: 15px;
}

.content_table tr th:last-child {
  -moz-border-radius-topright: 15px;
}

.content_table tr:last-child {
  border-bottom:1px solid #EEEEEE;
}

.content_table thead tr th {
  text-align: left;
  background-color:#EEEEEE;
  color:#333333;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content_table td {
  border:medium none;
  padding-left: 5px;
}

.content_table * .row-odd {
  background-color: #edf3fe;
}

.content_table * .row-even {
  background-color: #ffffff;
}

.error_message {
  background-color: #ffcccc;
}

.error_message .details {
  text-indent: 20px;
}

.message_row {
  display: none;
}

.paragraph_block tr td {
  padding-top: 10px;
}

.paragraph_block tr td:last_child {
  padding: 10px;
}