/* positioning for header elements */

#head {
  height: 			65px;
}

#head h1 {
  width:			200px;
  float: 			left;
  margin-bottom:    0;
}

#head #toolbar {
  width: 			50%;
  float: 			right;
  margin-top: 			9px;
}

#login-toolbar {
  float: 			right;
}

#content {
  padding-top: 			20px;
  clear: 			right;
  padding-right:		28px;
}

a {
  color: #2B80D6;
}

/* styling for login toolbar */

#toolbar {
  vertical-align:		middle;
  min-width:			510px;
}

#toolbar .username {
  color: 			#2b81d6;
  font-weight: 			700;
  text-transform:		none;
  padding:			5px;
  font-size:			1.1em !important;
}

#toolbar input {
  background-color:		white;
  color:			#ccc;
  font-size:			.9em;
  padding:			5px;
  border:			1px solid #aaa;
}

#toolbar .search-active {
 color: #000 !important;
}

#toolbar input.button {
  margin-left: 			5px;
  text-transform:		uppercase;
  font-size:			.9em;
  vertical-align:		middle;
  color:			white;
  background-color:		#888;
  padding:			2px;
}

#toolbar {
  vertical-align: 		middle;
  color: 			#888;
  text-transform:		uppercase;
  font-size:			.9em;
}

/** content area styling **/
#content {
  border-top: 4px solid #2b80d6;
  border-left: 1px solid #eee;
}

/** ui styles **/
.hover_menu {
  position:absolute;
  background-color: #eee;
  border: 1px solid #ddd;
  width: auto !important;
  padding: 10px;
  z-index: 2;
}

.hover_menu li {
  list-style-position: inside;
}

/* left navbar tabs styling */

.ui-tabs-hide { display: none; }

#app-sidebar .nav {
  margin: 0px;
  padding: 0px;
}

#app-sidebar .nav ul {
  margin-left: 15px;
  margin-right: none;
  margin-top: 12px;
  width: 157px;
}

#app-sidebar .nav li {
  margin: 0px !important;
  list-style: none;
  padding: 5px 2px 5px 6px;
  border-bottom: 1px solid #eee;
  display: block;
}

#app-sidebar .nav a {
  display: block;
  font-weight: bold;
  color: #729FCF;
  margin-right: 0px;
}

#app-sidebar .nav a:link,
#app-sidebar .nav a:visited,
#app-sidebar .nav a:active {
  text-decoration: none;
  font-size: 11pt;
}

#app-sidebar .nav .ui-tabs-selected a:link,
#app-sidebar .nav .ui-tabs-selected a:visited,
#app-sidebar .nav .ui-tabs-selected a:active
{
  color: white;
  background-color: #6aa6e2;
  padding: 8px 2px;
  padding-left: 12px;
  -moz-border-radius: 12px 0px 0px 12px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
}

#app-sidebar .nav .ui-tabs-disabled a:link,
#app-sidebar .nav .ui-tabs-disabled a:visited,
#app-sidebar .nav .ui-tabs-disabled a:active
{
  padding-left: 8px
}

#content {
  padding-left: 22px !important;
  margin-left: 170px;
}

#app-sidebar {
  float: left;
  width: 170px;
  padding: 0px;
  border-right: 1px solid #eee;
  min-height: 650px;
  height: 100%;
}
#app-sidebar {
  background: repeat-y right url(../images/vertical-gradient.png);
}

/** banner-header for banner images **/
#banner-header {
  background: url(http://localhost:8080/images/grad_grey_1x116.png);
  width: 100%;
  height: 116px;
  -moz-border-radius: 12px;
}

#banner-header img {
  display: block;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}


/** content div horiztonal tabs **/

#content-nav ul {
  width: 100%;
  margin: 0px;
  border-bottom: 1px solid #eee;
  padding: 0px;
  padding-bottom: 24px;
  background: #FFFFFF url(http://fedoraproject.org/static/images/line.png) repeat-x scroll 0pt 100%;
/* 22px because #content padding is 22px */
  margin-left: -22px;
  padding-left: 22px;
  margin-bottom: 12px;
}

#content-nav li {
  float: left;
  margin-right: 24px;
  list-style: none;
}

#content-nav li a:link,
#content-nav li a:active,
#content-nav li a:visited {
  text-decoration: none;
  font-weight: bold;
  font-size: 11pt;
}

#content-nav li.ui-tabs-selected a:link,
#content-nav li.ui-tabs-selected a:active,
#content-nav li.ui-tabs-selected a:visited {
  color: white;
  padding: 4px 12px;
  padding-top: 6px;
  background-color: #5499dd;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
}

/** content searchbox **/


.content-searchbox {
  float: left;
  width: 98%;
  background-color: #eee;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  padding: 8px;
  padding-top: 11px;
  margin: auto;
  margin-bottom: 24px;
}

.content-searchbox .button {
  background-color:#888888;
  color:white;
  padding:2px;
  text-transform:uppercase;
  vertical-align:middle;
}

.content-searchbox form {
  margin: auto !important;
}

.content-searchbox form * {
  float: left;
}

.content-searchbox input.searchinput {
  width: 230px;
}

.content-searchinput {
  width: 240px;
  padding-right: 10px;
}

.content-searchinput .small-text {
  float: right;
  clear: left;
}

.small-text {
  font-size: 8pt;
}

.content-searchbox form {
  margin: auto;
  width: 450px;
}

.content-searchbox input {
  padding: 2px 5px;
  vertical-align: middle;
  line-height: 1.5 em;
  font-size: 10pt;
  color: #333;
}

.content-searchbox .button {
  color: white;
  padding-bottom: 1px;
  padding-top: 1px;
}

.content-searchbox span.label {
  font-size: 11pt;
  margin-right: 4px;
}

#left-content-column,
.left-content-column,
#right-content-column,
.right-content-column {
  padding: 0px;
}

#left-content-column,
.left-content-column {
  width: 68%;
}

#left-content-column dl dd,
.left-content-column dl dd {
  margin-left: 0px;
}

#left-content-column dl dd div.header-list,
.left-content-column dl dd div.header-list {
  padding-top: 2px;
}

#left-content-column dt,
.left-content-column dt {
  text-transform: uppercase;
  color: black;
  margin-top: 18px;
}

#left-content-column h2,
.left-content-column h2 {
  color: #2b81d6;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 3px;
}

#right-content-column,
.right-content-column {
  width: 30%;
  float: right;
}

#bottom,
#wrapper {
  clear: both !important;
}

h3 {
  line-height: 100%;
  margin-top: 10px;
  color: #666 !important;
}

/** simple list **/

.list table {
  font-size: .9em !important;
  width: 100%;
  border: none !important;
  border-bottom: 1px solid #b3b3b3 !important;
  border-top: 1px solid #b3b3b3 !important;
  padding: 0px !important;
}

.list table th,
.list table td,
.list table tr {
  font-size: 9pt !important;
  border: none !important;
  vertical-align: top;
}

.list table img {
  margin: 0px !important;
}

span.more-items {
  float: right;
}

.list a {
  text-decoration: none;
}

/** more advanced list with columns **/

.header-list .header-details {
  display: block;
  float: right;
  font-size: 75%;
  font-weight: normal;
  color: #999;
  font-style: italic;
  padding-right: 5px;
}

.header-list .header-text {
  float: left;
}

.header-list h3 {
  height: 12px;
}

.header-list li {
  list-style-type: none !important;
}

.header-list table {
  border-spacing: 0px;
  border-collapse: separate !important;
  border-bottom: none !important;
}

.header-list table th {
  border-top: 1px solid white !important;
  background-color: #f0f0f0 !important;
  vertical-align: top;
  text-align: left;
  padding: 6px 5px 6px 5px!important;
  border-bottom: white 4px solid !important;
  color: #707070;
}

.header-list table td {
  border: none !important;
  border-bottom: 1px solid #c8c8c8 !important;
  padding-bottom: 4px !important;
}

.header-list table td {

}

.header-list table tbody {
  background: repeat-x left bottom url('../images/c8c8c8_dot.png') !important;
}

.message_row {
  display: none;
}

span.package-name a,
span.person-name a {
  font-weight: bold;
}

span.timestamp {
  font-size: 7pt;
  color: #bbb;
}

/** simple list for side panel **/

.panel {
  background-color: #f4f4f4;
}

.panel .p,
.panel .message {
  padding: 3px 12px !important;
}

.panel .list ul {
  margin-left: 0px !important;
  width: 100%;
}

.panel .announce li {
  list-style: inside url('../images/16_announcement.png');
  margin-left: 2px;
  border-bottom: dotted 1px #ddd;
}

.panel p.placeholder {
  width: 95%;
}

/** styles for right content area panels **/

/** FIXME html should really be using div, not span, this is a workaround **/
span.panel {
  display: block;
}

#right-content-column .panel,
.right-content-column .panel {
  margin-top: 0px;
}

#right-content-column .panel dt,
.right-content-column .panel dt {
  display: block;
  background-color: #ddd;
  padding: .2em .5em;
}

#right-content-column .panel dd span,
.right-content-column .panel dd span {
  height: 2em;
  display: block;
  width: 80%;
}

#right-content-column .panel dd img,
.right-content-column .panel dd img {
  display: block;
  margin-right: 7px;
  float: left;
  margin-top: -3px;
  clear: both;
}

#right-content-column .panel dd,
.right-content-column .panel dd {
  width: 100%;
  margin-left: -.1em;
  display: block;
  padding: .2em  1em;
}


#right-content-column .panel dd,
.right-content-column .panel dd {
  margin-top: .4em;
}

/** float clearing **/

.clear {
  clear:		both;
  /** the rest is for older browsers **/
  height:		1px;
  line-height:		1px;
  font-size:		1px;
  margin-top:		-1px;
}

#left-content-column h3,
.left-content-column h3 {
  font-weight: 900;
  color: black !important;
  text-transform: uppercase;
  font-size: 9pt !important;
}

/** right sidebar column styles **/

.panel {
  margin-top: 12px;
  border: none !important;
  margin-bottom: 4ex;
}

.panel td {
  padding: 4px 0px 4px 10px !important;
}

div.icon-panel td {
  padding: 0px 0px 2px 10px !important;
}

#right-content-column a,
.right-content-column a {
  text-decoration: none;
}

#right-content-column h3,
#right-content-column h4,
.right-content-column h3,
.right-content-column h4 {
  margin: 0px !important;
  font-weight: 900;
}

#right-content-column h3,
.right-content-column h3 {
  background-color: #d2d2d2;
  -moz-border-radius: 12px 12px 0px 0px;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  color: white !important;
  font-size: 1em !important;
  padding: 8px 6px 6px 6px;
  text-transform: uppercase;
}

#right-content-column h4,
.right-content-column h4 {
  background-color: #e6e6e6;
  font-size: small !important;
  padding: 3px 6px;
}

#right-content-column table,
.right-content-column table {
  width: 100%;
  border: none !important;
  background-color: #f9f9f9;
  border-collapse: collapse;
}

#right-content-column td,
.right-content-column td {
  border: none !important;
}

/** login box styles **/

div.login {
 background-color: #5f94c9;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden !important;
  padding: 8px 12px;
}

div.login h3 {
  background: none !important;
  padding: 2px 2px 5px 0px !important;
}

div.login form span {
 color: white;
 font-size: .8em;
 display: block;
 float: left;
 margin-right: 10px;
 width: 60px;
}

div.login form input {
  margin-bottom: 5px;
  max-width: 80%;
}

div.login form .button {
  background-color: #777;
  color: white;
  border: 1px solid #555;
}

div.login a.small-text:link,
div.login a.small-text:active,
div.login a.small-text:visited {
  color: #9ecfff !important;

}

.canvas .login {
  margin-left: auto;
  margin-right: auto;
  //position: absolute;
  width: 300px;
  overflow: visible;
}

.small-text {
  font-size: 8pt;
}

.label-rule {
  border-bottom: 1px solid;
  border-color: #B3B3B3;
}

/* greeter h1, so you can have an image or icon in the left of it */
h1#greeter img {
  float: left;
  height: 50px;
  margin: 0px !important;
  margin-right: 8px !important;
}

.notice {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('/images/info.png') left center no-repeat;
  border: 1px solid #cce;
}

/*** Lightbox ***/

.lightbox-parent {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.lightbox-black{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.lightbox-white {
  position: absolute;
  padding: 20px;
  background-color: white;
  opacity: 1;
  height: 80%;
  width: 80%;
  margin-left: 6%;
  display: none;
  z-index:1002;
  overflow: auto;
}

/** LIST PAGER **/

.list .message {
  float: left;
  width: auto;
  margin-top: 2px;
}

.list .pager {
  float: right;
  width: auto;
  margin-top: 2px;
}

.list .pager ul {
  height: 22px;
  padding: 0px;
  margin: 0px !important;

}

.list .pager li {
  float: left;
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside;
  border: none;

  margin-left: 0px;
  margin-right: 0px;
  border-right: 1px solid #ddd;
  height: 19px !important;
}

.list .pager li.page-button a,
.list .pager li.current-page,
.list .pager li.page-ellipses,
.list .pager li.no-link {
  padding-left: 7px;
  padding-right: 7px;
}

.list .pager li.page-ellipses {
  width: 1.5em;
}

.list .pager a { 
  vertical-align: middle !important;
  height: 19px !important;
}

.list .pager li.page-button:hover {
  background-color: #6AA6E2;
  color: white;
}

.list .pager li.page-button:hover a {
  color: white !important;
}

.list .pager li.current-page {
  font-weight: bold !important;
}

.pager {
  height: 22px;
}

#left-content-column .list {
  margin-bottom: 3em !important;
}

.page-numbers {
  float: left;
  width: 65% !important;
}

.page-flips {
  float: right;
  width: 25% !important;
}

ul.page-flips li {
  float: right !important;
}


.next-page {
  border-right: none !important;
}

.prev-page {
  border-left: 1px solid #ddd !important;
}

.next-page, .prev-page {
  height: 19px;
}


.moksha-grid-pager-top,
.moksha-grid-pager-bottom {
  height: 22px;
  text-align: left;
  width: 100% !important;
}

/** clean the html up at some point! **/
.list .moksha-grid-pager-top .pager {
  float: left;
}

/** special list styles **/

.action-button {
  padding: 4px;
  line-height: 24px;
  font-size: 70%;
  text-transform: uppercase;
  letter-spacing: -1px;
  background-color: #ddd;
  border: 1px solid #aaa;
}

.action-button:hover {
  background-color: #eaeaea;
}


/* this needs to be fixed in fedora.css */
table * {
  color: #666;
}

/* loading row for table */
.rowtemplate {
  display: none;
}

/** Styles for People Profiles **/


/** just a quick hack to get ssh key out of the way **/
div.info_identity td {
  display: none;
}

/** info_content styles **/
/** general **/

div.info_content {
  background-color: #eee;
  -moz-border-radius: 6px;
  padding: 12px;
}

div.info_content div.hackergotchi {
  background-color: red;
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 12px;
}

div.info_content h4 {
  text-transform: uppercase;
  color: black;
}

div.info_content table td {
  border: none !important;
}

div.info_content td,
div.info_content th {
  padding-bottom: 1px !important;
  padding-top: 1px !important;
  font-size: 9pt;
}

div.info_content th {
  border: none !important;
  background: none !important;
  text-align: right;
  vertical-align: top;
  color: #666 !important;
  font-weight: bold !important;
}

div.info_content table {
  margin-bottom: 10px;
}


div.info_content th {
  min-width: 100px !important;
}

div.info_content .col div {
  margin-top: 1em !important;
  padding-right: 1.5em;
}

div.info_content {
  height: 200px !important;
  margin-bottom: 1em;
}

div.info_content table {
  width: 100%;
}

div.info_content div.info_container {
  float: left;
  border-bottom: 1px solid #ccc;
}

div.info_content .info_container .col div:first-child {
  border-bottom: 1px solid #ccc;
}

div.info_content .info_container .col div:last-child {
  border-bottom: none;
}

/** left-column styles **/

div.info_content .left_col {
  float: left;
}

div.info_content .left-col div {
  padding-top: 1em;
}

/** right-column styles **/

div.info_content .right_col {
  float: right;
  border-left: 1px solid #ccc;
  padding-left: 1em;
}

div.info_content .right-col div {
  width: 100%;
}

/** moz ellipsis hackery **/

.ellipsis {
  text-overflow: ellipsis;
  -moz-binding: url('css/ellipsis.xml#ellipsis');
}

/** app class -
 *
 * this is a class that is added to elements that contain
 * apps. it will be used to pad/align between applications on the same
 * page.
**/

.app {
  padding-bottom: 12px;
}
