div#head h1 a {
  background: transparent url(/images/fedora-community-logo.png) no-repeat scroll 10px 50%;
  width: 236px;
}

.login-banner img {
	float: right; 
	padding-top: 9px; 
	padding-right: 5px;
        padding-left: 5px;
}

img#main-banner {
	min-height: 199px;
}

.col-spread h4 {
  font-size: large;
  font-weight: normal;
}

.col-spread > div {
  width: 30%;
  float: left;
  margin: 10px;
}

.col-spread div div {
  background-color: #eee;
  -moz-border-radius: 6px;
  padding: 1em;
  margin-top: .4em;
}

.col-spread div p {
  min-height: 16em !important;
}

.col-spread a.button:link, 
.col-spread a.button:visited, 
.col-spread a.button:active {
  display: block;
  background-color: #66a2de;
  color: white !important;
  -moz-border-radius: 3px;
  border: 0px;
  padding: .5em 1em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#tour h2 {
  font-size: 200% !important;
}

#tour h3 {
  margin-bottom: 1em;
}
