div#head h1 a {
  background: transparent url(/images/fedora-community-logo.png) no-repeat scroll 10px 50%;
  width: 236px;
}

.login-banner img {
	float: right; 
	padding-top: 9px; 
	padding-right: 5px;
        padding-left: 5px;
}
