<div xmlns="http://www.w3.org/1999/xhtml" 
     xmlns:py="http://genshi.edgewall.org/"
     id="${id}">
  <a py:if="prev_page" onClick="myfedora.ui.go_to('${parent_id}', {'page':${prev_page}})" href="javascript:void(0)">Previous</a>
  <span py:if="not prev_page">Previous</span>
  <span py:if="front_set">
    <span py:for="i in front_set">
       <a onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">
         ${i}
       </a>
     </span>
     ...
  </span>
  <span py:for="i in main_set">
    <a py:if="page != i" onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">
      ${i}
    </a>
    <strong py:if="page == i">${i}</strong>
  </span>
  <span py:if="back_set">
    ...
    <span py:for="i in back_set">
       <a onClick="myfedora.ui.go_to('${parent_id}', {'page':${i}})" href="javascript:void(0)">
         ${i}
       </a>
     </span>
  </span>
  <a py:if="next_page" onClick="myfedora.ui.go_to('${parent_id}', {'page':${next_page}})" href="javascript:void(0)">Next</a>
  <span py:if="not next_page">Next</span>
</div>